{% extends "report.html" %}

{% block content2 %}
<div class="Main-container">
    <div class="container">
        <div class="title">Service Trends</div>
        
        <div class="report-card">
            <div class="sub-title">Monthly Service Booking Trends</div>
            <div class="img_cont">
                <img src="data:image/png;base64,{{ monthly_img_plot }}" alt="Monthly Service Trends Plot">
            </div>
        </div>

        <div class="report-card">
            <div class="sub-title">Total Revenue by Service</div>
            <div class="img_cont">
                <img src="data:image/png;base64,{{ revenue_img_plot }}" alt="Revenue by Service Plot">
            </div>
        </div>

        <div class="report-card">
            <div class="sub-title">Service Distribution</div>
            <div class="img_cont">
                <img src="data:image/png;base64,{{ distri_img_plot }}" alt="Service Distribution Plot">
            </div>
        </div>
    </div>
</div>

{% endblock content2 %}