{% extends "report.html" %}

{% block content2 %}
<div class="Main-container">
    <div class="container">
        <div class="title">Customer Analysis</div>
        
        <div class="report-card">
            <div class="sub-title">Age Demographics</div>
            <div class="img_cont">
                <img src="data:image/png;base64,{{ age_plot_img }}" alt="Age Demographics Plot">
            </div>
        </div>

        <div class="report-card">
            <div class="sub-title">Gender Demographics</div>
            <div class="img_cont">
                <img src="data:image/png;base64,{{ gender_plot_img }}" alt="Gender Demographics Plot">
            </div>
        </div>

        <div class="report-card">
            <div class="sub-title">Age vs Gender Analysis</div>
            <div class="img_cont">
                <img src="data:image/png;base64,{{ violin_plot_img }}" alt="Age vs Gender Analysis Plot">
            </div>
        </div>
    </div>
</div>

{% endblock content2 %}